.powerlifting-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.powerlifting-logo {
    max-width: 60%;
    margin: 1.5rem auto;
}
.powerlifting-logo img {
    width: 100%;
    max-width: 400px;
}

.powerlifting-construction {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}
.powerlifting-construction img{
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.8);
}