/* Intro Container Styling */
.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 2rem auto;
}
.projects-title {
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
}
.projects-title img {
    max-height: 2.5rem;
    max-width: 100%;
}

/* Project Cards Section Styling */
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    max-width: 90%;
    gap: 2.5rem;
    margin: 1rem auto;
}
.project-card {
    background-color: #F4F4F4;
    border: 2px ridge #F1F3E4;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.project-card:hover {
    transform: scale(1.0075);
}
.project-card img {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.project-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    width: 100%;
    padding-right: 10px;
}
.project-link-btn {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}
.project-link-btn img {
    width: 35px;
}


/* Responsive Design (Max Width 1200px) */
@media (max-width: 890px) {
    .projects-title img {
        max-height: 2.5rem;
        max-width: 60vw;
    }
    .intro-container {
        margin:  3.6vw auto;
    }
    .projects-container {
        gap: 4.44vw;
    }
    .project-links {
        padding-right: 1.1vw;
    }
    .project-link-btn img {
        width: 3.9vw;
    }
}