* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    padding: 10px;
    border: 2px solid red;
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
}

button, .icon-btn {
    border: 2px solid black;
    background: white;
    padding: 8px 15px;
    cursor: point;
    font-size: 16px;
    font-weight: bold;
}

.name-btn {
    font-style: italic;
    width: 120px;
}

.nav-btn {
    width: 110px;
}

.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

icon-btn img {
    width: 20px;
    height: 20px;
}