/* Stylesheet for mid-size mobile devices (phones, etc.) */

body{
    background-color : #1E1E1E;
}

nav{
    padding : 10px;
}
section, footer {
    padding : 5px;
    margin : 10px;
}

header {
    background-color: #0A0A0A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.logo-image{
    display : none;
}
.written-logo{
    min-width : 12vh;
    display : block;
}
.hamburger-menu{
    display : block;
    max-width : 30px;
    margin-right : 10px;
}

/*  STYLES FOR NAVIGATION PORTION */
#main-nav{
    display : none;
}
#main-nav.is-active {
    display : block;
}
header nav ul{
    background-color: #0A0A0A;
    flex-direction : column;
    position : absolute;
    top : 100%;
    left : 0;
    width : 100%;
    background-color : #0A0A0A;
    z-index : 999;
}
header nav ul li{
    text-align : center;
} */
header nav ul li a{
    color : white;
    font-family : "Teko", sans-serif;
    text-decoration : none;
    font-size : 1.5em;
    display : block;
    padding : 10px 0;
} 
header nav ul li a:hover{
    text-decoration : underline;
}

/* Class is added to hamburger icon via JavaScript when clicked */
.hamburger-menu.active + header nav ul{
    display : block; 
    position : absolute;
    width : 100%;
    top : 100%;
}

header nav ul li{
    display : block;
    text-align : center;
}


.main-photo-container {
    background-color : #0A0A0A;
    position : relative; /* Needed for absolute positioning of child element */
    width : 100%;
    margin-top : 90px;
    height : 60vh;
    overflow : hidden; /* Ensures image doesn't cause scrollbars */
    margin-left : -10px;
}
.main-photo-container .main-photo {
    position : absolute; /* Position image absolutely so can be sized correctly */
    top : 0;
    left : 0;
    height : 63vh;
    width : 100%;
    object-fit : cover;
}

.main-introduction{
    text-align : center;
}
.main-introduction h1 {
    font-family: 'Anton', sans-serif;
    color : white;
    font-size : 3em;
    margin-bottom : -5px;
}
.main-introduction h1 .LIN-name-highlight {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size : 1.5em;
    color : #D65340;
    padding-left : 5px;
    padding-right : 13px;
}
.main-introduction p {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size : 1.5em;
    color : white;
    line-height: 1.6; 
}

.box{
    width : 45%;
    margin : 2.5%;
    float : left;
}
.box img {
    max-width : 100%;
}
.clear {
    clear : both;
}