body{
    background-color : white;
}

nav, section, footer {
    padding : 20px;
    margin : 10px;
}

header {
    background-color : #0A0A0A;
    display : flex; /* Use flexbox to align items in a row */ 
    justify-content : space-between; /* Space out logo and navigation */
    align-items : center; /* Center items vertically */
    padding : 0px; /* Add some padding around the items */
    position : fixed; /* Fixed position to keep header at the top */
    width : 100%; /* Ensure header spans the full width of the page */
    top : 0; /* Align header at the top of the viewport */
    left : 0; /* Align header at the left of the viewport */
    z-index : 1000; /* Ensure that the header is above other content */
}
header img{
    flex : 1;
    max-width : 10vw;
    height : auto;
    display : flex; /* Use flexbox for aligning the logo */
    justify-content : flex-start; /* Align logo to the start */
}
.logo-image{
    flex : 1;
    max-width : 6vh;
    height : auto;
    padding-left : 15px;
}
.written-logo{
    flex : 1;
    min-width : 15vh;
    height : auto;
}

header nav{
    flex : 2; /* Navigation can grow twice as much as the logo */
    display : flex; /* Use flexbox to align new nav items */
    justify-content : center; /* Center the nav items */
}
header nav ul{
    list-style : none; /* Remove default list styling (bullet points) */
    display : flex; /* Display the navigational items inline*/
    margin : 0; /* Removes default margin */
    padding : 0; /* Removes default padding */ 
    justify-content : center; /* Center the list of items */
    width : 100%; /* Set width to fully available space */
}
header nav ul li {
    display : inline;
    padding : 0 20px; /* Add some padding between navigational items */
    margin-right : 10px;
}
header nav ul li a {
    color : white; /* Sets text color to white */
    text-decoration : none; /* Removes the underline from font */
    font-family : "Robot", sans-serif; 
}
header nav ul li a : hover{
    text-decoration : underline;
}

.container {
    width : 80%;
    margin : auto;
    overflow : hidden;
}

.main-photo-container {
    padding-top : 905px;
    width : 100%;
    max-height : 65vh;
    overflow : hidden; /* Ensures image doesn't cause scrollbars */
    position : relative; /* Needed for absolute positioning of child element */
}
.main-photo-container .main-photo {
    width : 110%;
    height : auto;
    position : absolute; /* Position image absolutely so can be sized correctly */
    top : 50%; 
    left : 50%; /* Ensure image is centered in container */
    transform : translate(-50%, -50%); /* Ensures center of image is sized correctly */
    min-height : 100vh; /* Ensures image covers container fully at all times */
    min-width : 100vw; /* Ensures image covers container fully at all times */
    object-fit : cover; /* Ensures image covers container without stretching */
}
.box{
    width : 45%;
    margin : 2.5%;
    float : left;
}
.box img {
    max-width : 100%;
}
.clear {
    clear : both;
}